body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b719bbbaa49a132b9caf94d/1594728448789-XPF4IQC9EFPMHRGXSXIH/david-hofmann-klWtuMJE8Ho-unsplash.jpg?format=1500w);
}
 
h1{
    color: blueviolet;
    border-radius: 50px ;
    font-size: larger;
}